.branding{
    height: 690px;
    background: linear-gradient(0deg, rgba(245, 197, 24, 0.9) 0%, rgba(245, 197, 24, 0.9) 100%),url("https://previews.123rf.com/images/dolgachov/dolgachov1502/dolgachov150201809/36668457-cinema-entertainment-and-people-concept-happy-friends-watching-movie-in-theater.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    padding:8% 15%;
    color:white;
    h1{
        font-size:65px;
        font-weight: 500;
    }
    p{
        width: 50%;
    }

}