.movieCard {
    width: 350px;

    padding: 1rem;
    .image {
        img {
            border-radius: 12px;
            height: 380px;
            cursor: pointer;
            width: 100%;
            transition: 0.25s ease;
            &:hover {
                transform: scale(1.04);
            }
        }
        .details {
            display: flex;
            align-items: center;
            margin-top: 1rem;

            span {
                margin-right: auto;
                background-color: #f5c518;
                padding: 0.5rem 1rem;
                font-size: 16px;
                border-radius: 8px;
                font-weight: 500;
            }
            .favoriteButton{
                border: none;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: #f5c518;
                padding: 0.75rem;
                margin-left: 10px;
                box-shadow: 0px 14px 26px rgba(39, 13, 48, 0.25);
                transform: matrix(-1, 0, 0, 1, 0, 0);
                transition: 0.25s ease;
                &:hover{
                    background-color: #cca414;
                }
                i {
                    color: white;
                    font-size: 20px;
                    transition: 0.25s ease;
                    &:hover {
                        transform: scale(1.1);

                    }
                }
            }
            .defButton {
                border: none;
                margin-left: 10px;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 0.75rem;
                box-shadow: 0px 14px 26px rgba(39, 13, 48, 0.25);
                transform: matrix(-1, 0, 0, 1, 0, 0);
                transition: 0.25s ease;
                &:hover{
                    background-color: rgb(218, 218, 218);
                }
                i {
                    color: #f5c518;
                    font-size: 20px;
                    transition: 0.25s ease;
                    &:hover {
                        transform: scale(1.1);

                    }
                }
            }
        }
    }
    .heading {
        margin-top: 1rem;
        display: flex;
        align-items: center;
        img {
            margin-right: 1rem;
        }
        .rate {
            font-size: 18px;
            font-weight: 600;
        }
    }
    .title {
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
        .year {
            font-size: 18px;
            font-weight: 600;
            color: #f5c518;
        }
        .movieName {
            font-size: 28px;
            font-weight: 600;
            text-overflow: ellipsis;
            white-space: nowrap;
            color: black;
            overflow: hidden;
        }
    }
    .footer {
        margin-top: 1rem;
        font-size: 16px;
        line-height: 30px;
        color: rgba(0, 0, 0, 0.5);
    }
}
