.searchbox{
    background-color:#F3F3F3;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    padding:1rem;
    i{
        font-size:18px;
        color:#A4A4A4;
        cursor: pointer;
        transition: .25s ;
        &:hover{
            transform: scale(1.15);
        }
    }
    input{
        width: 100%;
        background-color:transparent;
        border:none;
        &:focus{
            outline:0;
        }
    }
}

@media only screen and (max-width:980px) {
    .searchbox{
        display: none;
    }
}