.banner{
    background: linear-gradient(90deg, rgba(245, 197, 24, 0.26) 22.24%, rgba(251, 247, 252, 0) 100%);
    padding:1rem;
    
    .directory{
        color: #F5C518;
        font-weight: 600;
        font-size:18px;
    }
    
}
.title{
    font-size:45px;
    font-weight: 600;
    margin-top:2rem;
    span{
        color:#F5C518;
    }
}
.movielist{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
    
}
@media only screen and (max-width:1200px) {
    .movielist{
        justify-content: center;
    }
}